<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>

                   

                    <div class="form-group">
                      <label for="Institute"><span class="req">* </span> Institute: <small>
                              name</small> </label>
                      <input required type="text" [(ngModel)]="stu.institute" name="institute" id="institute"
                          class="form-control phone" maxlength="28" placeholder="Enter name of institute" />
                  </div>



                  <div class="form-group">
                    <label for="Skill_set"><span class="req">* </span> Skill_set: <small>
                            name</small> </label>
                    <input required type="text" [(ngModel)]="stu.skill_set" name="skill_set" id="skill_set"
                        class="form-control phone" maxlength="28" placeholder="Enter your skill_set" />
                </div>

                <div class="form-group">
                  <label for="Contact_details"><span class="req">* </span> Contact_details: <small>
                          name</small> </label>
                  <input required type="text" [(ngModel)]="stu.contact_details" name="contact_details" id="contact_details"
                      class="form-control phone" maxlength="28" placeholder="Enter your contact_details" />
              </div>

              <div class="form-group">
                <label for="Tentative_joining_date"><span class="req">* </span> Tentative_joining_date: <small>
                        name</small> </label>
                <input required  type="datetime" [(ngModel)]="stu.tentative_joining_date" name="tentative_joining_date" id="tentative_joining_date"
                    class="form-control phone" maxlength="28" placeholder="Enter tentative_joining_date" />
            </div>

            <div class="form-group">
              <label for="location"><span class="req">* </span> Location: <small>
                      name</small> </label>
              <input required type="text" [(ngModel)]="stu.location" name="location" id="location"
                  class="form-control phone" maxlength="28" placeholder="Enter  location" />
          </div>



          <div class="form-group">
            <label for="description"><span class="req">* </span> description: <small>
                    name</small> </label>
            <input required type="text" [(ngModel)]="stu.description" name="description" id="description"
                class="form-control phone" maxlength="28" placeholder="Enter  description" />
        </div>

        <div class="form-group">
          <label for="feedback"><span class="req">* </span> feedback: <small>
                  name</small> </label>
          <input required type="text" [(ngModel)]="stu.feedback" name="feedback" id="feedback"
              class="form-control phone" maxlength="28" placeholder="Enter  feedback" />
      </div>
      <div class="form-group">
        <input class="btn btn-success" type="submit" name="submit_reg" value="Submit" (click)="submit()">
    </div>
                    
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>