


<div class="container">
    <div class="container">
<table border="1" style="background-color:burlywood" class="center">

    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
  padding: 10px;
}
    </style>
    <thead>
        <tr>
            <th>id</th>
            <th>institute</th>
            <th>skill_set</th>
            <th>contact_details</th>
            <th>tentative_joining_date</th>
            <th>location</th>
            <th>description</th>
            <th>feedback</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let it of stu">
            <td>{{it.id}}</td>
            <td>{{it.institute}}</td>
            <td>{{it.skill_set}}</td>
            <td>{{it.contact_details}}</td>
            <td>{{it.tentative_joining_date}}</td>
            <td>{{it.location}}</td>
            <td>{{it.description}}</td>
            <td>{{it.feedback}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(it.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
            <td class="text-center"><button class="btn btn-primary btn-xs" (click)="UpdateUser(it.id)"><span class="glyphicon glyphicon-remove"></span>Update</button></td>
        </tr>

    </tbody>
</table>
</div>
</div>


<div class="form-group" class="wrapper">
    <input class="btn btn-success" type="submit" name="submit_reg" text-align: center value="ViewDone" (click)="view()">
</div>