
.spacer {
    flex: 0.4 0.4  auto;
}

.nav__bar{
    height:300px;
    padding:10px;
    background-color: black;
    width:300px;
    position: fixed;
    z-index: 25;
    top:20;
    left:0;
    display:none;
}

.showDisplay{
    display:block;
}
li{
    padding :10px 0px;
}

ul{
    list-style-type:none;
}

a{
    color: white;
    font-size: 22px;
}

